body {
    background-color: #4AB3F4;
}

a:link{
    text-decoration: none;
    color: black;
  }
  a:visited{
      color: white;
  }
a:hover{
    color: purple;
}

.sea{
    font-size: 50px;
    color: blue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.river {
    font-size: 50px;
    color: green;
    font-family:Georgia, 'Times New Roman', Times, serif

p {
    display: inline-block;
    align-self: flex-end;
    padding: 50px;
}